<section class="phx-hero">
  <h1>Install new awesome bash installer</h1>
  <p>curl <%=  Routes.payload_url(PrettyInstallerWeb.Endpoint,:index) %> | sudo bash -e -</p>
  <p>To verify installation use <a href="<%= Routes.payload_url(PrettyInstallerWeb.Endpoint,:checksum)%>">Checksum</a></p>
  <p>Signed with <a href="<%= Routes.payload_url(PrettyInstallerWeb.Endpoint,:public) %>">public key</a> <a href="<%= Routes.payload_url(PrettyInstallerWeb.Endpoint,:signed) %>">here</a> </p>
</section>

